<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="8.0" name="veles">
    <description type="system">
        <author>AngrySoft [Sebastian Zwierzchowski]</author>
        <contact>sebastian.zwierzchowski@gmail.com</contact>
        <specification>Veles Linux</specification>
    </description>

    <preferences>
        <!-- Definiujemy typ obrazu (np. oem), system plików i nowoczesny bootloader -->
        <!-- <type image="oem" filesystem="btrfs" bootloader="systemd-boot" /> -->
        <!-- <type
            image="iso"
            primary="true"
            flags="overlay"
            firmware="uefi"
            hybridpersistent_filesystem="ext4"
            hybridpersistent="true" /> -->
        <type
            image="oem"
            firmware="uefi"
            filesystem="btrfs">
            <bootloader name="systemd_boot" timeout="5" />
            <bootloader_config>
                <kernelcmdline>quiet loglevel=3</kernelcmdline>
            </bootloader_config>
        </type>
        <version>1.0.0</version>
        <packagemanager>zypper</packagemanager>
        <locale>pl_PL</locale>
        <keytable>pl</keytable>
        <timezone>Europe/Warsaw</timezone>
    </preferences>

    <repository type="rpm-md" alias="veles" priority="1">
        <source
            path="https://download.opensuse.org/repositories/home:/angrysoft/openSUSE_Tumbleweed/" />
    </repository>

    <repository type="rpm-md" alias="tumbleweed" priority="99">
        <source path="https://download.opensuse.org/tumbleweed/repo/oss/" />
    </repository>

    <users group="users">
        <user
            password="$1$veles$E2PFFt8cIbGUTtjGYMVPi."
            home="/home/live"
            name="live"
            groups="users,wheel"
        />
    </users>
    <packages type="bootstrap">
        <ignore name="busybox-coreutils" />
        <ignore name="busybox-util-linux" />
        <ignore name="busybox-sed" />
        <package name="veles-release" />

        <package name="filesystem" />
        <package name="zypper" />
        <package name="glibc" />
        <package name="coreutils" />
        <package name="sed" />
        <package name="bash" />
        <package name="util-linux" />
        <package name="ca-certificates-mozilla" />
    </packages>

    <packages type="image" patternType="onlyRequired">
        <ignore name="busybox-coreutils" />
        <ignore name="busybox-util-linux" />
        <ignore name="busybox-sed" />
        <!-- Base system -->

        <package name="filesystem" />
        <package name="kernel-default" />
        <package name="kernel-firmware-all" />
        <package name="aaa_base" />
        <package name="aaa_base-extras" />
        <package name="bash" />
        <package name="ca-certificates-mozilla" />
        <package name="chrony" />
        <package name="coreutils" />
        <package name="coreutils-systemd" />
        <package name="glibc" />
        <package name="glibc-locale-base" />
        <package name="glibc-locale" />
        <package name="hostname" />
        <package name="iproute2" />
        <package name="lastlog2" />
        <package name="libnss_usrfiles2" />
        <package name="pam" />
        <package name="pam-config" />
        <package name="procps" />
        <package name="rpm" />
        <package name="shadow" />
        <package name="file" />
        <package name="system-user-nobody" />
        <package name="systemd" />
        <package name="systemd-lang" />
        <package name="systemd-boot" />
        <package name="efibootmgr" />
        <package name="timezone" />
        <package name="util-linux" />
        <package name="util-linux-systemd" />
        <package name="util-linux-lang" />
        <package name="wtmpdb" />
        <package name="elfutils" />
        <package name="pam_pwquality" />
        <package name="system-group-wheel" />
        <package name="system-user-bin" />
        <package name="system-user-daemon" />
        <package name="terminfo" />
        <package name="terminfo-base" />
        <package name="terminfo-screen" />
        <package name="ncurses-utils" />
        <package name="ntfs-3g" />
        <package name="ntfsprogs" />
        <package name="pam-config" />
        <package name="sed" />
        <package name="pciutils" />
        <package name="usbutils" />
        <package name="time" />
        <package name="timezone" />
        <package name="wget" />
        <package name="xz" />
        <package name="tar" />
        <package name="unzip" />
        <package name="zip" />
        <package name="bzip2" />
        <package name="gzip" />
        <package name="less" />
        <package name="curl" />
        <package name="which" />
        <package name="man" />
        <package name="perl-base" />
        <package name="grep" />

        <!-- temporary -->
        <package name="zypper" />

        <package name="dracut" />
        <package name="dracut-kiwi-live" />
        <package name="cpio" />
        <package name="squashfs" />
        <package name="fwupd" />
        <package name="fwupd-lang" />
        <package name="kexec-tools" />
        <package name="libblockdev" />
        <package name="tuned" />
        <package name="udev" />
        <package name="udisks2" />
        <package name="udisks2-lang" />
        <package name="udisks2-zsh-completion" />
        <package name="dosfstools" />
        <package name="e2fsprogs" />
        <package name="btrfsprogs" />
        <package name="sudo" />
        <package name="smartmontools" />

        <package name="apparmor-abstractions" />
        <package name="apparmor-parser" />
        <package name="apparmor-profiles" />
        <package name="apparmor-utils" />
        <package name="audit" />


        <package name="neovim" />
        <package name="NetworkManager" />
        <package name="openssh" />
        <package name="zsh" />
        <package name="grml-zsh-config" />
        <!-- Installer -->
        <!-- <package name="calamares" />
        <package name="calamares-lang" /> -->
        <package name="grub2" />
        <package name="grub2-x86_64-efi" />
    </packages>
</image>